fastapi==0.63.0
uvicorn==0.13.4
asyncpg==0.22.0
tortoise-orm==0.16.21
pytest==6.2.2
requests==2.31.0
gunicorn==20.0.4
pytest-cov==2.11.1
flake8===3.8.4
black==20.8b1
isort==5.7.0
pytest-xdist==2.2.1
newspaper3k==0.2.8
uvicorn[standard]==0.13.4
jinja2==3.0.3
python-multipart